.plplayout-container {
  display: flex;
  gap: 10rem;
}

.plplayout-leftbar-container {
  margin-top: 5.6rem;
}

.products-layout {
  width: 100%;
}

@media screen and (max-width: 992px) {
  .plplayout-leftbar-container {
    display: none;
  }
}
